/*
 *  Base element and global styles
 */

@import url('https://fonts.googleapis.com/css?family=Ek+Mukta:300,400,600');

html {
  // 1rem = 10px
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: $sans;
}
