/*
 *  Location header styles.
 */

.location {
  padding: 2.5em 0;
  background: $light-grey;
  font-family: $sans;
}

.location-wrapper {
  width: 100%;
}

.location-hero__gallery {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;

  @include min($tablet) {
    width: 33%;
    padding-right: 16px;
  }
}

.location-hero__gallery-count {
  position: absolute;
  bottom: 10px;
  left: 25px;
  color: $white;
  font-size: 1.2rem;
}

.gallery-image {
  height: auto;
  width: 100%;

  @include min($tablet) {
    border-radius: 4px;
  }
}

.location-header {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  padding: 0 $gutter-width;

  @include min($tablet) {
    width: 66.6%;
    padding-left: 16px;
  }
}

.title-wrapper {
  display: inline-block;
  max-width: 70%;
}

.location-header__title {
  display: block;
  color: $black;
  font-size: 2.8rem;
  font-weight: 400;
}

.button {
  display: block;
  margin: 0.5em 0;
  padding: 0.5em 4em;
  background: $orange;
  border: 1px solid $dark-orange;
  border-radius: 4px;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 250ms ease;
  transition-property: background, color;

  @include min($tablet) {
    display: inline-block;
    vertical-align: top;
    margin: 0;
  }

  &.button--float-right {

    @include min($tablet) {
      float: right;
    }
  }

  &:hover,
  &:active,
  &:focus {
    background: $white;
    color: $orange;
  }
}

.location-header__reviews {
  display: block;
}

.reviews-rating {
  display: inline-block;
  padding-right: 10px;

  svg {
    height: auto;
    width: 22px;
    fill: #ff9300;
  }
}

.reviews-link {
  display: inline-block;
  color: $blue;
  font-size: 1.8rem;
  transition: color 250ms ease;

  &:hover,
  &:active,
  &:focus {
    color: $black;
  }
}

.location-header__city {
  margin: 0.5em 0;
  font-weight: 300;
}

.location-icon {
  margin: 0 10px 0 5px;

  svg {
    position: relative;
    top: 3px;
  }
}

.location-header__utilities {
  margin-top: 1em;
}

.utilities-link {
  margin-right: 0.75em;
}
